{% extends "base.html" %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
{% endblock %}

{% block content %}

<div class="page-title-area">
  <h2>候補者詳細</h2>
  <a class="btn" href="{{ url_for('edit_candidate', id=candidate.id) }}">編集</a>
</div>

{% if has_alert %}
<div class="alert-box">
  <strong>⚠ アラートがあります</strong>

  <ul class="alert-detail-list">
    {% for alert in alerts %}
    <li>{{ alert }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<div class="accordion-grid">
  <!-- 基本情報 -->
  <details class="accordion">
    <summary class="accordion-title">基本情報</summary>
    <div class="accordion-content">

      <p><strong>氏名：</strong>{{ candidate.name }}</p>
      <p><strong>担当：</strong>{{ candidate.owner }}</p>
      <p><strong>連絡ステータス：</strong>{{ candidate.contact_status }}</p>
      {% if candidate.contact_status == "その他" %}
      <p><strong>その他メモ：</strong>{{ candidate.contact_memo or "-" }}</p>
      {% endif %}
      <p><strong>登録日：</strong>{{ candidate.created_at }}</p>
      <p><strong>最終更新日：</strong>{{ candidate.updated_at }}</p>
    </div>
  </details>

  <!--初期フェーズ-->
  <details class="accordion">
    <summary class="accordion-title">初期フェーズ</summary>
    <div class="accordion-content">
      <p><strong>カジュアル面談 / 説明会 担当者：</strong>{{ candidate.casual_event_staff }}</p>
      <p><strong>書類選考：</strong>{{ candidate.document_screening }}</p>
    </div>
  </details>

  <details class="accordion">
    <summary class="accordion-title">1次面接</summary>
    <div class="accordion-content">

      <p><strong>実施予定時期：</strong>{{ candidate.first_period }}</p>
      <p><strong>実施日：</strong>{{ candidate.first_interview_date }}</p>
      <p><strong>担当者：</strong>{{ candidate.first_interviewer }}</p>
      <p><strong>リマインド：</strong>{{ candidate.first_remind }}</p>

    </div>
  </details>

  <details class="accordion">
    <summary class="accordion-title">2次面接</summary>
    <div class="accordion-content">
      <p><strong>実施予定時期：</strong>{{ candidate.second_period }}</p>
      <p><strong>実施日：</strong>{{ candidate.second_interview_date }}</p>
      <p><strong>担当者：</strong>{{ candidate.second_interviewer }}</p>
      <p><strong>座談会：</strong>{{ candidate.first_meeting }}</p>
      <p><strong>TEL：</strong>{{ candidate.second_tel }}</p>
      <p><strong>リマインド：</strong>{{ candidate.second_remind }}</p>
    </div>
  </details>

  <details class="accordion">
    <summary class="accordion-title">最終面接</summary>
    <div class="accordion-content">
      <p><strong>実施予定時期：</strong>{{ candidate.final_period }}</p>
      <p><strong>実施日：</strong>{{ candidate.final_interview_date }}</p>
      <p><strong>担当者：</strong>{{ candidate.final_interview }}</p>
      <p><strong>成績証明：</strong>{{ candidate.transcript }}</p>
    </div>
  </details>

  <details class="accordion">
    <summary class="accordion-title">内定</summary>
    <div class="accordion-content">

      <p><strong>懇親会予定時期：</strong>{{ candidate.pizza_party_plan }}</p>
      <p><strong>懇親会参加：</strong>{{ candidate.pizza_party_join }}</p>
      <p><strong>承諾目安：</strong>{{ candidate.acceptance_estimate }}</p>
      <p><strong>承諾期限：</strong>{{ candidate.offer_deadline }}</p>
    </div>
  </details>
</div>
<a class="btn" href="{{ url_for('index') }}">一覧に戻る</a>

{% endblock %}
