{% extends "base.html" %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}

<h2>候補者 編集</h2>

<form class="form-card" action="{{ url_for('update_candidate', id=candidate.id) }}" method="POST">


  <details class="accordion">
    <summary class="accordion-title">基本情報</summary>

    <div class="accordion-content">


      <label>候補者氏名</label>
      <input type="text" name="name" value="{{ candidate.name }}" required>

      <label>担当</label>
      <input type="text" name="owner" value="{{ candidate.owner }}">

      <label>関連URL</label>
      <input type="text" name="profile_url" value="{{ candidate.profile_url }}">

      <label>連絡ステータス</label>
      <select name="contact_status" id="contactStatus">
        {% for status in ["学生返答待ち", "面接官の返答待ち", "未連絡", "保留", "お見送り", "内定承諾", "辞退", "その他"] %}
        <option value="{{ status }}" {% if candidate.contact_status==status %}selected{% endif %}>
          {{ status }}
        </option>
        {% endfor %}
      </select>

      <div id="contactMemoArea" class="contact-memo-area">
        <label>その他メモ</label>
        <textarea name="contact_memo" id="contactMemo" rows="3"
          placeholder="その他の内容を入力してください">{{ candidate.contact_memo or "" }}</textarea>
      </div>


    </div>
  </details>


  <details class="accordion">
    <summary class="accordion-title">初期フェーズ</summary>

    <div class="accordion-content">

      <label>カジュアル面談 / 説明会 担当者名</label>
      <input type="text" name="casual_event_staff" value="{{ candidate.casual_event_staff }}">

      <label>書類選考</label>
      <select name="document_screening">
        <option {% if candidate.document_screening=="未済" %}selected{% endif %}>未済</option>
        <option {% if candidate.document_screening=="済" %}selected{% endif %}>済</option>
      </select>

    </div>
  </details>

  <details class="accordion">
    <summary class="accordion-title">1次面接</summary>

    <div class="accordion-content">

      <label>実施予定時期</label>
      <input type="text" name="first_period" value="{{ candidate.first_period }}">

      <label>実施日</label>
      <input type="date" name="first_interview_date" value="{{ candidate.first_interview_date }}">

      <label>担当者</label>
      <input type="text" name="first_interviewer" value="{{ candidate.first_interviewer }}">

      <label>リマインド</label>
      <select name="first_remind">
        <option {% if candidate.first_remind=="未済" %}selected{% endif %}>未済</option>
        <option {% if candidate.first_remind=="済" %}selected{% endif %}>済</option>
      </select>


    </div>
  </details>


  <details class="accordion">
    <summary class="accordion-title">2次面接</summary>

    <div class="accordion-content">

      <label>実施予定時期</label>
      <input type="text" name="second_period" value="{{ candidate.second_period }}">

      <label>実施日</label>
      <input type="date" name="second_interview_date" value="{{ candidate.second_interview_date }}">

      <label>担当者</label>
      <input type="text" name="second_interviewer" value="{{ candidate.second_interviewer }}">

      <label>座談会</label>
      <input type="text" name="first_meeting" value="{{ candidate.first_meeting }}">

      <label>TEL</label>
      <select name="second_tel">
        <option {% if candidate.second_tel=="未済" %}selected{% endif %}>未済</option>
        <option {% if candidate.second_tel=="済" %}selected{% endif %}>済</option>
      </select>

      <label>リマインド</label>
      <select name="second_remind">
        <option {% if candidate.second_remind=="未済" %}selected{% endif %}>未済</option>
        <option {% if candidate.second_remind=="済" %}selected{% endif %}>済</option>
      </select>

    </div>
  </details>


  <details class="accordion">
    <summary class="accordion-title">最終面接</summary>

    <div class="accordion-content">

      <label>実施予定時期</label>
      <input type="text" name="final_period" value="{{ candidate.final_period }}">

      <label>実施日</label>
      <input type="date" name="final_interview_date" value="{{ candidate.final_interview_date }}">

      <label>担当者</label>
      <input type="text" name="final_interview" value="{{ candidate.final_interview }}">

      <label>成績証明</label>
      <select name="transcript">
        <option {% if candidate.transcript=="未済" %}selected{% endif %}>未済</option>
        <option {% if candidate.transcript=="済" %}selected{% endif %}>済</option>
      </select>

    </div>
  </details>

  <details class="accordion">
    <summary class="accordion-title">内定</summary>
    <div class="accordion-content">

      <label>懇親会予定時期：</label>
      <input type="date" name="pizza_party_plan" value="{{ candidate.pizza_party_plan }}">

      <label>懇親会参加：</label>
      <select name="pizza_party_join">
        {% for join_status in ["未定", "参加", "不参加"] %}
        <option value="{{ join_status }}" {% if candidate.pizza_party_join==join_status %}selected{% endif %}>
          {{ join_status }}
        </option>
        {% endfor %}
      </select>

      <label>承諾目安</label>
      <input type="text" name="acceptance_estimate" value="{{ candidate.acceptance_estimate }}">

      <label>承諾期限</label>
      <input type="date" name="offer_deadline" value="{{ candidate.offer_deadline }}">

    </div>
  </details>

  <label>選考外ステータス</label>
<select name="outside_status">
  <option value="">選択してください</option>
  <option value="内定承諾">内定承諾</option>
   <option value="辞退">辞退</option>
   <option value="お見送り">お見送り</option>
   <option value="ミス">ミス</option>
</select>

<button
  class="btn-addpage"
  type="submit"
  formaction="{{ url_for('move_to_outside', id=candidate.id) }}"
  formmethod="POST">
  選考外一覧に移動
</button>

<button class="btn primary" type="submit">
  更新する
</button>

</form>

<script src="{{ url_for('static', filename='js/form.js') }}"></script>


{% endblock %}
