{% extends "base.html" %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}


{% block content %}
<h2>候補者 新規登録</h2>

<form class="form-card" action="{{ url_for('create_candidate') }}" method="POST">
  <details class="accordion" open>
    <summary class="accordion-title">基本情報</summary>

    <div class="accordion-content">

      <label>候補者氏名</label>
      <input type="text" name="name" required>

      <label>担当</label>
      <input type="text" name="owner">

      <label>連絡ステータス</label>
      <select name="contact_status" id="contactStatus">
        <option>学生返答待ち</option>
        <option>面接官の返答待ち</option>
        <option selected>未連絡</option>
        <option>保留</option>
        <option>お見送り</option>
        <option>内定承諾</option>
        <option>辞退</option>
        <option>その他</option>
      </select>

      <div id="contactMemoArea" class="contact-memo-area">
        <label>その他メモ</label>
        <textarea name="contact_memo" id="contactMemo" rows="3" placeholder="自由入力"></textarea>
      </div>

    </div>
  </details>


  <details class="accordion">
    <summary class="accordion-title">初期フェーズ</summary>

    <div class="accordion-content">

      <label>カジュアル面談 / 説明会 担当者名</label>
      <input type="text" name="casual_event_staff">

      <label>書類選考</label>
      <select name="document_screening">
        <option>未済</option>
        <option>済</option>
      </select>

    </div>
  </details>


  <details class="accordion">
    <summary class="accordion-title">1次面接</summary>

    <div class="accordion-content">

      <label>実施予定時期</label>
      <input type="text" name="first_period" placeholder="例：6月中旬">

      <label>実施日</label>
      <input type="date" name="first_interview_date">

      <label>担当者</label>
      <input type="text" name="first_interviewer">

      <label>リマインド</label>
      <select name="first_remind">
        <option>未済</option>
        <option>済</option>
      </select>

    </div>
  </details>



  <details class="accordion">
    <summary class="accordion-title">2次面接</summary>

    <div class="accordion-content">

      <label>実施予定時期</label>
      <input type="text" name="second_period" placeholder="例：7月上旬">

      <label>実施日</label>
      <input type="date" name="second_interview_date">

      <label>担当者</label>
      <input type="text" name="second_interviewer">

      <label>座談会</label>
      <input type="text" name="first_meeting">

      <label>TEL</label>
      <select name="second_tel">
        <option>未済</option>
        <option>済</option>
      </select>

      <label>リマインド</label>
      <select name="second_remind">
        <option>未済</option>
        <option>済</option>
      </select>

    </div>
  </details>


  <details class="accordion">
    <summary class="accordion-title">最終面接</summary>

    <div class="accordion-content">

      <label>実施予定時期</label>
      <input type="text" name="final_period" placeholder="例：7月上旬">

      <label>実施日</label>
      <input type="date" name="final_interview_date">

      <label>担当者</label>
      <input type="text" name="final_interview">


      <label>成績証明</label>
      <select name="transcript">
        <option>未済</option>
        <option>済</option>
      </select>
    </div>
  </details>

  <details class="accordion">
    <summary class="accordion-title">内定</summary>
    <div class="accordion-content">

      <label>懇親会予定時期</label>
      <input type="date" name="pizza_party_plan">

      <label>懇親会参加</label>
      <select name="pizza_party_join">
        <option>未定</option>
        <option>参加</option>
        <option>不参加</option>
      </select>

      <label>承諾目安</label>
      <input type="text" name="acceptance_estimate">

      <label>承諾期限</label>
      <input type="date" name="offer_deadline">

    </div>
  </details>

  <button class="btn primary" type="submit">登録する</button>

</form>

<script src="{{ url_for('static', filename='js/form.js') }}"></script>


{% endblock %}
